<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = ""
        xmlns:gap   = ""
        id          = "com.warren.seffiar"
        versionCode = "012" 
        version     = "0.1.2" >

    <!-- versionCode is optional and Android only -->

    <name>S.E.F.F.I.A.R</name>

    <description>
        An AI for the connect 4 game, ie four in a row
    </description>

    <author href="www.facebook.com/warren.hood.750" email="nullbyte001@gmail.com">
        Warren Hood
    </author>
	<preference name="DisallowOverscroll" value="true" />
 <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name='uiwebviewbounce' value='false' />
  <icon src='icon.png' height='50' width='50'/>
<plugin name="org.apache.cordova.inappbrowser" source="npm"/>
</widget>
